{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container mt-5">
    {% if categorys.count > 0 %}
        <div class="row justify-content-center">
            {% for category in categorys %}
            <div class="d-flex justify-content-center mb-4">
                <div class="card" style="width: 800px;">
                    <div class="row g-0"> 
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'detailcategory' category.id %}">{{category.id}}: {{ category.category_name }}</a>
                                </h5>
                                <a href="{% url 'detailcategory' category.id %}" class="btn btn-primary">Show</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}
        </div>
    {% else %}
        <p>No films available at the moment.</p>
    {% endif %}
</div>
{% endblock content %}
