{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center mb-4">
                <div class="card" style="width: 800px;">
                    <div class="row g-0"> 
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="">{{ order.user_id }}</a>
                                </h5>
                                <p class="card-text">{{ order.film }}</p>
                                <p class="card-text"><small class="text-muted">{{ order.qvantity }}</small></p>
                                <p class="card-text"><small class="text-muted">{{ order.type_pay }}</small></p>
                                <a href="{% url 'updateorder' order.id %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'deleteorder' order.id %}" class="btn btn-primary">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
</div>
{% endblock content %}
